.pagina-ex2 {

    background-color: #F5F6FA;
   

        .final {

            background-color: rgb(240, 241, 241);
            width: 480px;
            padding-left: 40px;
            padding-top: 20px;
            margin-left: 500px;
            margin-top: 35px;
            border-radius: 10px;
            background-color: #ffffff;
            margin-bottom: 20px;
            line-height: 2.5;
            input {
                border-radius: 13px;
                border-style: solid;
                border-color: #dfdfdf;
                border-width: 2px;
                padding: 10px;
                color: #606060;
                font: 400px 22px "Verdana";
                outline: none;
                min-width: 400px;
            }

            button {
                background: #6278F7;
                border-radius: 12px;
                margin-top: 25px;
                margin-left: 235px;
                margin-bottom: 20px;
                padding: 14px 50px;
                color: #fff;
                border-radius: 10px;
                font: 500px 20px;
                outline: none;
            }


        }

        .resp {
            padding-left: 630px;
            height: 100px;
        }
    }
